<!DOCTYPE html>
<html data-theme="default">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <title>{% block title %}My Website{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="static\img\logo.svg">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/night-owl.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    </head>
    <body>
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content" style="padding-left: 20%; padding-right: 20%;">
               <div class="navbar bg-base-100 gap-2">
                  <div class="flex-none">
                     <label for="my-drawer" class="btn btn-square btn-ghost drawer-button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
                           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                     </label>
                  </div>
                  {% block lobbyButton %}{% endblock %}
                  <div class = "flex-none">
                     <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="btn btn-ghost m-1">
                           Theme
                           <svg width="12px" height="12px" class="h-2 w-2 fill-current opacity-60 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
                              <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                           </svg>
                        </div>
                        <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-52">
                           <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Default" value="default"/></li>
                           <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Night" value="night"/></li>
                           <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Retro" value="retro"/></li>
                           <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Cyberpunk" value="cyberpunk"/></li>
                           <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Lemonade" value="lemonade"/></li>
                           <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Aqua" value="aqua"/></li>
                        </ul>
                     </div>
                  </div>
                  <div class="flex-none">
                     <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="avatar btn btn-ghost btn-square">
                           <div class="w-10 rounded"><img src="https://avatars.githubusercontent.com/u/{{user.token}}?v=4" alt="Tailwind-CSS-Avatar-component" /></div>
                        </div>
                        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 border" style="border-color: oklch(var(--s));">
                           <li>
                              <a href="/me">
                                 <svg xmlns="http://www.w3.org/2000/svg" class="fill-current"  height="16" width="14" viewBox="0 0 448 512">
                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                                 </svg>
                                 Profile
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>




        {% block content %}{% endblock %}





      </div>
        <div class="drawer-side">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
               <a href="https://flowbite.com/" class="flex items-center" style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
               <img src="https://raw.githubusercontent.com/Distant-Developer/Distant-Dreamer/main/static/img/logo.svg" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
               <span class="self-center text-xl font-semibold whitespace-nowrap">Distant Developer</span>
               </a>
               <div class="divider hover:font-bold divider-primary"> Main </div>
               <li><a href="/lobby" class="font-medium text-base">#lobby</a></li>
               <!--<li><a class="font-medium text-base">#projects</a></li>
               <li><a class="font-medium text-base">#companies-hiring</a></li>-->
               <div class="divider hover:font-bold divider-secondary"> Me </div>
               <li><a href="/me" class="font-medium text-base">#me</a></li>
               <div class="divider hover:font-bold divider-secondary"> Organizations </div>
               <li><a href="/org/new" class="font-medium text-base">#create</a></li>
               <li><a href="/org/list" class="font-medium text-base">#list</a></li>
               {% if user.has_organization() == True %}
               <li><a href="/org/admin" class="font-medium text-base">#admin</a></li>
               {% endif %}
            </ul>
         </div>
      </div>
      <script>
         document.addEventListener('DOMContentLoaded', function () {
           // Get the radio buttons and html element
           const themeRadios = document.querySelectorAll('input[name="theme-dropdown"]');
           const htmlElement = document.documentElement;
     
           // Load the theme from localStorage if available
           const savedTheme = localStorage.getItem('userTheme');
           if (savedTheme) {
             htmlElement.setAttribute('data-theme', savedTheme);
             // Check the corresponding radio button
             const selectedRadio = document.querySelector(`input[value="${savedTheme}"]`);
             if (selectedRadio) {
               selectedRadio.checked = true;
             }
           }
     
           // Add event listener to each radio button
           themeRadios.forEach(function (radio) {
             radio.addEventListener('change', function () {
               // Save the selected theme to localStorage
               const selectedTheme = this.value;
               localStorage.setItem('userTheme', selectedTheme);
     
               // Set the data-theme attribute of the html element
               htmlElement.setAttribute('data-theme', selectedTheme);
             });
           });
         });
       </script>
</body>
</html>