{% extends 'base.html' %}

{% block lobbyButton %}
<div class="flex-1">
  <a href="/post" class="flex items-center btn btn-ghost">
      <span class="self-center text-xl font-semibold whitespace-nowrap">#createPost</span>
  </a>
</div>
{% endblock %}

{% block title %}Post Creation{% endblock %}
{%block content%}
              


<div class="flex flex-1 flex-col shrink mt-4 gap-2 w-full items-center justify-center gap-4">

    <div id="preview_box" class="flex w-1/2 items-center justify-center">
        <div class="self-center card w-full bg-base-300 shadow-xl">
            <div class="flex flex-col card-body p-4">
                <div class="flex flex-row items-center gap-2">
                    <div class="avatar">
                        <div class="w-8 rounded-xl" style="aspect-ratio: 1/1;">
                            <img src="{{user.logo_url}}" alt="Album"/>
                        </div>
                    </div>
                    <p>{{user.username}}</p>
                </div>
                <p class="text-xl p-0  w-auto" id="title_preview"></p>
                <p class="p-0 text-base w-auto" id="title_content"></p>
            </div>
        </div>
    </div>

    <div class="flex w-1/2 items-center justify-center">
        <div class="self-center card w-full bg-base-300 shadow-xl">
            <form method="post" class="card-body p-4">
                <div class="flex flex-row items-center gap-2">
                    <div class="avatar">
                        <div class="w-8 rounded-xl" style="aspect-ratio: 1/1;">
                            <img id="editor_avatar_logo" src="{{user.logo_url}}" alt="Album"/>
                        </div>
                    </div>
                    <p>{{user.username}}</p>
                </div>
                <input type="text" name="title" id="title_editor" maxlength="60" value="{{title}}" placeholder="Type here" class="input p-0 py-4 placeholder-bg-neutral text-xl bg-base-300 border-0 border-none"/>
                <textarea name="content" id="content_editor" rows="4" maxlength="200" class="textarea mb-2 p-0 py-1 text-base bg-base-300 border-0 border-none placeholder-bg-neutral" placeholder="Write your thoughts here..."></textarea>
                
                <input type="hidden" name="action" value="Post"/>
                <div class="flex flex-row w-full items-end justify-end">
                    <button class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("preview_box").style.display = "none";

    document.addEventListener("input", function() {
        var title = document.querySelector("#title_editor").value;
        var content = document.querySelector("#content_editor").value;
        if (title || content) {
            document.querySelector("#title_preview").textContent=title;  
            document.querySelector("#title_content").textContent=content;
            document.getElementById("preview_box").style.display = "block";
        } else {
            document.getElementById("preview_box").style.display = "none";
        }
        
    });

</script>


{%endblock%}