{% extends 'base.html' %}

{% block lobbyButton %}
<div class="flex-1">
  <a href="/post" class="flex items-center btn btn-ghost">
      <span class="self-center text-xl font-semibold whitespace-nowrap">#createPost</span>
  </a>
</div>
{% endblock %}

{% block title %}Post Creation{% endblock %}
{%block content%}
              
                <div class="flex flex-row grow  mt-4">
                    <div class="flex flex-1 flex-col mt-4 p-10 gap-2">
                
                        <p class=" text-2xl">Editor</p>
                
                        <div class="self-center card w-full bg-base-300 shadow-xl ">

                            <form method="post" class="card-body">     
                                    
                                <label for="message" class="block text-2xl text-sm font-medium text-gray-900 dark:text-white">Title</label>
                                    <input type="text" name="title" maxlength="60" value="{{title}}" id="titleInput" placeholder="Type here" class="mb-2 text-base block p-2.5 w-full bg-primary-content-900 bg-primary-focus-50 rounded-lg border border-gray-300 text-base-content" />
                                
                                <!--<input name="content" type="text" id="contentInput" value="{{bef_content}}" placeholder="Content" class="input input-ghost w-full max-w-xs text-base p-0" />-->


                                <label for="message" class="block text-sm font-medium text-gray-900 dark:text-white">Your message (HTML) </label>
                                <textarea id="message" name="content" rows="4" maxlength="200" class="mb-2 p-2.5 block w-full text-sm bg-primary-neutral bg-primary-focus-50 rounded-lg border border-gray-300 text-base-content" placeholder="Write your thoughts here...">{{bef_content}}</textarea>
                                  
                
                                <input type="hidden" name="action" value="Preview"/>
                                <button tabindex="0" class="btn btn-primary">Preview</button>
                            </form> 
                        </div>
                
                    </div>
                
                    <div class="flex flex-1 flex-col mt-4 p-10 gap-2">
                
                        <p class="text-2xl">Preview</p>
                
                        <div class="self-center card w-full bg-base-300 shadow-xl ">
                            <form method="post" class="card-body">
                              <div class="flex flex-row gap-2 ">
                                <div class="avatar">
                                  <div class="w-8 rounded"><img src="{{user.logo_url}}" alt="Tailwind-CSS-Avatar-component" /></div>
                                </div>
                                <p class="self-center">{{user.username}}</p>
                              </div>

                                <h2 id="displayedTitle" class="card-title text-2xl">{{title}}</h2>
                                <input type="hidden" name="title" value="{{title}}">

                                <article  class="prose lg:prose-xl">
                                    {{content | safe}}
                                </article>

                                <input type="hidden" name="content" value="{{content}}">

                                <input type="hidden" name="action" value="Post"/>
                                <button tabindex="0" class="btn btn-primary">Post</button>
                                
                              </form>

                            
                        </div>
                
                    </div>
                </div>

{%endblock%}