{% extends 'base.html' %}

{% block lobbyButton %}
<div class="flex-1">
  <a href="/lobby" class="flex items-center btn btn-ghost">
      <span class="self-center text-xl font-semibold whitespace-nowrap">#org-name</span>
  </a>
</div>
{% endblock %}

{% block title %}Org Template{% endblock %}

{%block content%}
              

                <div class="container NONE mt-4 h-full w-full justify-center items-center">
                    <div class="card lg:card-side bg-base-100 shadow-xl border ">

                        <div class="flex flex-row w-full p-8 gap-4">
                            <div class="flex flex-none avatar">
                                <div class="w-40 h-40 rounded-xl" style="aspect-ratio: 1/1;">
                                    <img src="https://raw.githubusercontent.com/Distant-Developer/Distant-Dreamer/main/static/img/logo.svg" alt="Album"/>
                                </div>
                            </div>
                            
                            <div class="flex flex-col flex-1 grow gap-2">
                              <h2 class="font-semibold text-2xl">NAME OF COMPANY</h2>
                              <p class="text-lg">Industry</p>
                              <p class="mt-4">Description</p>
                            </div>
                        </div>

                      </div>

                </div>



            </div> 
            <div class="drawer-side">
              <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
              <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                <a href="https://flowbite.com/" class="flex items-center" style="display: flex; justify-content: center; align-items: center; flex-direction: row;">

                    <img src="https://raw.githubusercontent.com/Distant-Developer/Distant-Dreamer/main/static/img/logo.svg" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap">Distant Developer</span>

                 </a>

                <div class="divider hover:font-bold divider-primary"> Main </div>
                <li><a class="font-medium text-base">#lobby</a></li>
                <li><a class="font-medium text-base">#projects</a></li>
                <li><a class="font-medium text-base">#companies-hiring</a></li>

                <div class="divider hover:font-bold divider-secondary"> Me </div>
                <li><a class="font-medium text-base">#me</a></li>

                <div class="divider hover:font-bold divider-secondary"> Organizations </div>
                <li><a class="font-medium text-base">#create</a></li>
                <!--<li><a class="font-medium text-base">#business</a></li>-->
                <li><a class="font-medium text-base">#list</a></li>
                
              </ul>
            </div>
{%endblock%}