{% extends 'base.html' %}

{% block lobbyButton %}
<div class="flex-1">
  <a href="/staff/reports" class="flex items-center btn btn-ghost">
      <span class="self-center text-xl font-semibold whitespace-nowrap">#staff-only</span>
  </a>
</div>
{% endblock %}

{% block title %}Staff{% endblock %}

{%block content%}
<div class="flex flex-col gap-4">
    {% for report in reports %}
    <div class="self-center card w-1/2 bg-base-300 shadow-xl ">
        <div class="flex flex-col card-body prose gap-8">
            <div class="flex flex-col gap-0">
                <div class="flex flex-row gap-4 items-center">
                    <h3 class="m-0 p-0">Details (Report #{{report.id}})</h3>
                    {% if report.archived %}
                    <div class="badge badge-neutral">Reviewed</div>
                    {% else %}
                    <div class="badge badge-neutral">Not Reviewed</div>
                    {% endif %}
                    
                </div>
                <div class="divider m-0 p-0"></div>
                <a class="m-0 p-0" href="/user?id={{report.owner_id}}">Reporter (ID #{{report.owner_id}})</a>
            </div>

            
            <div class="flex flex-col">            
                <h3 class="m-0 p-0" >Reason</h3>
                <div class="m-0 p-0 divider"></div>
                <p class="m-0 p-0">{{report.reason}}</p>
            </div>


            <div class="flex flex-col gap-0">
                <h3 class="m-0 p-0">Reported Content ({{report.target_type}})</h3>
                <div class="divider m-0 p-0"></div>
                {% if report.owner_is_organization() %}
                <p class="m-0 p-0" href="/user?id={{report.detailed_report.owner_user}}">Organization (ID #{{report.get_org_owner().id}}) - Name: {{report.get_org_owner().name}}</p>
                {% else %}
                <a class="m-0 p-0" href="/user?id={{report.detailed_report.owner_user}}">Owner (ID #{{report.detailed_report.owner_user}})</a>
                {% endif %}

                {% if report.target_type == "jobPost" %}
                <a class="m-0 p-0" href="/jobs?id={{report.target_id}}">Job Posting (ID #{{report.target_id}})</a>
                {% else %}
                <a class="m-0 p-0" href="/{{report.target_type}}?id={{report.target_id}}">Content (ID #{{report.target_id}})</a>
                {% endif %}
            </div>

            {% if report.archived %}
            <div class="flex flex-col gap-0">
                <h3 class="m-0 p-0">Action Taken -> {{report.action}}</h3>
                <div class="divider m-0 p-0"></div>
                <p class="m-0 p-0">Reason: {{report.action_reason}}</p>
            </div>
            {% endif %}


            {% if report.not_archived() %}
            <div class="flex flex-row gap-2">
                <button class="btn btn-warning" onclick="hide_{{report.id}}.showModal()">Unlist</button>
                <dialog id="hide_{{report.id}}" class="modal">
                <div class="modal-box">
                    <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 class="font-bold text-lg m-0 p-0">Unlist</h3>
                    <p class="py-4 m-0 p-0">Makes it No Longer Visible in /lobby</p>
                    <form method="post">
                        <input type="hidden" name="id" value="{{report.id}}">
                        <textarea name="shadow" class="textarea textarea-primary w-full" placeholder="Reason?" required></textarea>
                        <button class="btn btn-primary">Confirm</button>
                    </form>

                </div>
                </dialog>

                <button class="btn btn-primary" onclick="ignore_{{report.id}}.showModal()">Ignore</button>
                <dialog id="ignore_{{report.id}}" class="modal">
                <div class="modal-box">
                    <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 class="font-bold text-lg m-0 p-0">Ignore Option</h3>
                    <p class="py-4 m-0 p-0">Report is ignored. No action</p>
                    <form method="post">
                        <input type="hidden" name="id" value="{{report.id}}">
                        <textarea name="ignore" class="textarea textarea-primary w-full" placeholder="Reason?" required></textarea>
                        <button class="btn btn-primary">Confirm</button>
                    </form>

                </div>
                </dialog>
                

            </div>
            {% endif %}

            
        </div>
    </div>
    {% endfor %}
</div>


                
{%endblock%}