<!DOCTYPE html>
<html data-theme="default">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/night-owl.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    </head>
    <body>
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">

                <div class="navbar bg-base-100 gap-2" style="padding-left: 20%; padding-right: 20%;"> <!-- NAV BAR -->
                    <div class="flex-none">
                        <label for="my-drawer" class="btn btn-square btn-ghost drawer-button"> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                        </label>
                    </div>
                    <div class="flex-1">
                        <a href="/user?={USERNAME}" class="flex items-center btn btn-ghost">
                            <span class="self-center text-xl font-semibold whitespace-nowrap">#USERNAME HERE</span>
                        </a>
                    </div>
                    <div class = "flex-none">
                        <div class="dropdown">
                            <div tabindex="0" role="button" class="btn btn-ghost m-1">
                              Theme
                              <svg width="12px" height="12px" class="h-2 w-2 fill-current opacity-60 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path></svg>
                            </div>
                            <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-52">
                                <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Default" value="default"/></li>
                              <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Night" value="night"/></li>
                              <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Retro" value="retro"/></li>
                              <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Cyberpunk" value="cyberpunk"/></li>
                              <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Valentine" value="valentine"/></li>
                              <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Aqua" value="aqua"/></li>
                            </ul>
                          </div>
                    </div>
                    <div class="flex-none">
                        <div class="avatar btn btn-ghost btn-square">
                            <div class="w-10 rounded">
                                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" alt="Tailwind-CSS-Avatar-component" />
                              </div>
                          </div>
                    </div>
                </div>
              

                <!-- CONTENT OF WEBSITE -->
                <div class="container None" style="padding-left: 20%; padding-right: 20%; ">
                    <div class="flex flex-col gap-2">
                        <div class="avatar">
                            <div class="w-72 rounded-full">
                              <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                            </div>
                        </div>
                        
                        <span class="text-2xl font-semibold whitespace-nowrap">#USERNAME HERE</span>

                        <div class="flex flex-row items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" height="24" width="24" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                            <span class="self-center text-lg font-semibold whitespace-nowrap">Linkedin</span>
                        </div>
                        


                    </div>
                </div>

              
            </div> 
            
            <div class="drawer-side">
              <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
              <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                <a href="https://flowbite.com/" class="flex items-center" style="display: flex; justify-content: center; align-items: center; flex-direction: row;">

                    <img src="https://raw.githubusercontent.com/Distant-Developer/Distant-Dreamer/main/static/img/logo.svg" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap">Distant Developer</span>

                 </a>

                <div class="divider hover:font-bold divider-primary"> Main </div>
                <li><a class="font-medium text-base">#lobby</a></li>
                <li><a class="font-medium text-base">#projects</a></li>
                <li><a class="font-medium text-base">#companies-hiring</a></li>

                <div class="divider hover:font-bold divider-secondary"> Me </div>
                <li><a class="font-medium text-base">#me</a></li>
                
              </ul>
            </div>
          </div>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              // Get the radio buttons and html element
              const themeRadios = document.querySelectorAll('input[name="theme-dropdown"]');
              const htmlElement = document.documentElement;
        
              // Load the theme from localStorage if available
              const savedTheme = localStorage.getItem('userTheme');
              if (savedTheme) {
                htmlElement.setAttribute('data-theme', savedTheme);
                // Check the corresponding radio button
                const selectedRadio = document.querySelector(`input[value="${savedTheme}"]`);
                if (selectedRadio) {
                  selectedRadio.checked = true;
                }
              }
        
              // Add event listener to each radio button
              themeRadios.forEach(function (radio) {
                radio.addEventListener('change', function () {
                  // Save the selected theme to localStorage
                  const selectedTheme = this.value;
                  localStorage.setItem('userTheme', selectedTheme);
        
                  // Set the data-theme attribute of the html element
                  htmlElement.setAttribute('data-theme', selectedTheme);
                });
              });
            });
          </script>
         

    </body>
</html>