{% extends 'base.html' %}

{% block lobbyButton %}
<div class="flex-1">
  <a href="/verify" class="flex items-center btn btn-ghost">
      <span class="self-center text-xl font-semibold whitespace-nowrap">Verification</span>
  </a>
</div>
{% endblock %}

{% block title %}#verify{% endblock %}
{%block content%}
              
                <div class="flex flex-col mt-4 gap-2">

                    <p class="text-4xl">You Need to be Verified!</p>
                    <p>Dear User, 

                        It Appears your account is not verified in our system. Due to this, you aren't allowed to access the content or perform certain actions.

                        Please input your email in this text input and a code will be sent to you. 
                    </p>
                    <p class="mt-4">Input Email</p>
                    <form method="post">
                        <div class="flex flex-row gap-4">
                            <input type="email" name="email" placeholder="email@domain.com" class="input input-bordered input-primary w-full max-w-xs" required/>
                            <button class="btn btn-primary btn-square btn-ghost">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 448 512" fill="oklch(var(--p))"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                            </button>

                        </div>
                    </form>

                    <p class="mt-4">Input Code Here</p>
                    <form method="post">
                        <div class="flex flex-row gap-4">
                            <input type="text" name="code" placeholder="..." class="input input-bordered input-primary w-full max-w-xs" required/>
                            <button class="btn btn-primary btn-square btn-ghost">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 448 512" fill="oklch(var(--p))"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                            </button>

                        </div>
                    </form>
                </div>

            </div> 
            <div class="drawer-side">
              <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
              <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                <a href="https://flowbite.com/" class="flex items-center" style="display: flex; justify-content: center; align-items: center; flex-direction: row;">

                    <img src="https://raw.githubusercontent.com/Distant-Developer/Distant-Dreamer/main/static/img/logo.svg" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap">Distant Developer</span>

                 </a>

                <div class="divider hover:font-bold divider-primary"> Main </div>
                <li><a class="font-medium text-base">#lobby</a></li>
                <li><a class="font-medium text-base">#projects</a></li>
                <li><a class="font-medium text-base">#companies-hiring</a></li>

                <div class="divider hover:font-bold divider-secondary"> Me </div>
                <li><a class="font-medium text-base">#me</a></li>

                <div class="divider hover:font-bold divider-secondary"> Organizations </div>
                <li><a class="font-medium text-base">#create</a></li>
                <!--<li><a class="font-medium text-base">#business</a></li>-->
                <li><a class="font-medium text-base">#list</a></li>
                
              </ul>
            </div>

{%endblock%}